{% extends "base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content%}
<div class="ltn__utilize-overlay"></div>
<div class="ltn__breadcrumb-area ltn__breadcrumb-area-4 ltn__breadcrumb-color-white---">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner text-center">
                    <h1 class="ltn__page-title">Khách Hàng</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="{% url 'home' %}">Trang Chủ</a></li>
                            <li>Khách Hàng</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="liton__wishlist-area pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- PRODUCT TAB AREA START -->
                <div class="ltn__product-tab-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="ltn__tab-menu-list mb-50">
                                    <div class="nav">
                                        <a data-bs-toggle="tab" href="#liton_tab_1_2">Đơn Hàng <i class="fas fa-file-alt"></i></a>
                                        <a data-bs-toggle="tab" href="#liton_tab_1_4">Thông Tin <i class="fas fa-user"></i></a>
                                        <a data-bs-toggle="tab" href="#liton_tab_1_5">Cài Đặt <i class="fas fa-user"></i></a>
                                        <a href="{% url 'customer_logout' %}">Đăng Xuất <i class="fas fa-sign-out-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="liton_tab_1_2">
                                        <div class="ltn__myaccount-tab-content-inner">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Mã Đơn</th>
                                                            <th>Ngày Đặt</th>
                                                            <th>Địa Chỉ</th>
                                                            <th>Trạng Thái</th>
                                                            <th>Tổng Tiền</th>
                                                            <th>Hủy Đơn</th>
                                                            <th>Xem Đơn</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in donhang %}
                                                            <tr>
                                                                <td>ĐH#000{{ item.id }}</td>
                                                                <td>{{ item.ThoiGian }}</td>
                                                                <td>{{ item.DiaChi }}</td>
                                                                <td>
                                                                    {% if item.TrangThai == "cxl" %}
                                                                        Chưa xử lý
                                                                    {% elif item.TrangThai == "dxl" %}
                                                                        Đã xử lý
                                                                    {% elif item.TrangThai == "dcbh" %}
                                                                        Đang Chuẩn Bị Hàng
                                                                    {% elif item.TrangThai == "dgh" %}
                                                                        Đang Giao Hàng
                                                                    {% elif item.TrangThai == "dghh" %}
                                                                        Đã Giao Hàng
                                                                    {% elif item.TrangThai == "khh" %}
                                                                        Khách Hàng Hủy
                                                                    {% elif item.TrangThai == "adh" %}
                                                                        Admin Hủy
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ item.TongTien }}</td>
                                                                <td>
                                                                    {% if item.TrangThai != "khh" and item.TrangThai != "adh" %}
                                                                        <a href="{% url 'customer_order_cancel' id=item.id %}">HỦY</a>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a href="{% url 'customer_order_detail' id=item.id %}">XEM</a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="liton_tab_1_4">
                                        <div class="ltn__myaccount-tab-content-inner">
                                            <p>Các địa chỉ sau sẽ được sử dụng mặc định trên trang thanh toán.</p>
                                            <div class="row">
                                                <div class="col-md-6 col-12 learts-mb-30">
                                                    <h4>Thông Tin Khách Hàng <small></small></h4>
                                                    <address>
                                                        <p><strong>{{ khachhang.User.first_name }} {{ khachhang.User.last_name }}</strong></p>
                                                        <p>Địa chỉ: {{ khachhang.DiaChi }}</p>
                                                        <p>Số điện thoại: {{ khachhang.SoDienThoai }}</p>
                                                        <p>Email: {{ khachhang.User.email }}</p>
                                                    </address>
                                                </div>
                                                <div class="col-md-6 col-12 learts-mb-30">
                                                    <h4>Thông Tin Giao Hàng <small></small></h4>
                                                    <address>
                                                        <p>Địa chỉ: {{ khachhang.DiaChi }}</p>
                                                        <p>Số điện thoại: {{ khachhang.SoDienThoai }}</p>
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="liton_tab_1_5">
                                        <div class="ltn__myaccount-tab-content-inner mb-50">
                                            <p>Các địa chỉ sau sẽ được sử dụng mặc định trên trang thanh toán.</p>
                                            <div class="ltn__form-box">
                                                <form method="POST">
                                                    {% if success %}
                                                        <p style="color: #010101; font-weight: 400;">{{ success }}</p>
                                                    {% endif %}
                                                    {% if message %}
                                                        <p style="color: #e55472; font-weight: 400;">{{ message }}</p>
                                                    {% endif %}
                                                    {% csrf_token %}
                                                    <div class="row mb-50">
                                                        <div class="col-md-6">
                                                            <label>Họ đệm:</label>
                                                            <input type="text" name="first_name" placeholder="Nhập họ đệm..." value="{{ khachhang.User.first_name }}" required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Tên:</label>
                                                            <input type="text" name="last_name" placeholder="Nhập tên..." value="{{ khachhang.User.last_name }}" required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Số điện thoại:</label>
                                                            <input type="text" name="phone" placeholder="Nhập số điện thoại..." value="{{ khachhang.SoDienThoai }}" required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Email:</label>
                                                            <input type="email" name="email" placeholder="Nhập email..." value="{{ khachhang.User.email }}">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>Địa chỉ nhận hàng:</label>
                                                            <input type="text" name="address" placeholder="Xóm/Ngõ, Thôn/Phố, Phường/Xã, Quận/Huyện, Tỉnh/Thành Phố" value="{{ khachhang.DiaChi }}">
                                                        </div>
                                                    </div>
                                                    <fieldset>
                                                        <legend style="float: unset;">Thay Đổi Mật Khẩu?</legend>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>Mật khẩu hiện tại:</label>
                                                                <input type="password" name="old_password" placeholder="Nhập mật khẩu hiện tại...">
                                                                <label>Mật khẩu mới:</label>
                                                                <input type="password" name="new_password" placeholder="Nhập mật khẩu mới...">
                                                                <label>Xác nhận mật khẩu:</label>
                                                                <input type="password" name="new_password2" placeholder="Xác nhận mật khẩu mới...">
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <div class="btn-wrapper">
                                                        <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Cập Nhật</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PRODUCT TAB AREA END -->
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{% if success or message %}
    <script>
        $(document).ready(function(){
            $("#liton_tab_1_2").removeClass("active show")
            $("#liton_tab_1_5").addClass("active show")
        })
    </script>
{% endif %}

{% endblock content%}